<header class="container">
  <h1>Angular Testing</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Recusandae ea voluptas, explicabo cum, perferendis ipsa adipisci
    porro qui voluptatum, delectus veritatis itaque a iste nostrum
    ratione molestias quae amet? Delectus!
  </p>

  <nav>
    <ul>
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/products">Products</a></li>
      <li><a routerLink="/pico-preview">Pico Preview</a></li>
    </ul>
  </nav>
</header>

<router-outlet></router-outlet>
